/* universal selector*/
*{
	margin:0;
	padding:0;
}

body{
	background-color: #ccddcc;
}
#container{
	margin:auto auto;
	width:1140px;
	min-height:1000px;
	background-color: #99ffcc;
	border:5px solid #99ffcc;
	border-radius: 0px 50px 0px 50px;
}

.row{
	min-height:10px;
}

.col100{
	width:100%;
	min-height: 20px;
}
.col75{
	width:75%;
	min-height: 20px;
	float:left;
}
.col50{
	width:50%;
	min-height: 20px;
	float:left;
}
.col25{
	width:25%;
	min-height: 20px;
	float:left;
}
.clear{
	clear:both;
}
.border{
	margin:5px;
	padding:5px;
	width:95%;
	min-height:50px;
	border:1px solid #000000;
}

.col25border{
	width:23%;
	padding:3px;
	margin:5px;
	border:1px solid #000000;
	border-radius:0px 0px 0px 50px;

}

.mhborder{
	width:100%;
	border:1px solid #000000;
	border-radius:10px 25px;
	border-bottom: 2px dotted #000000;
}
.col25 span{
	font-size:200px;
	color:red;
	text-align: right;


}